@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  color: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: Montserrat, sans-serif;
}

.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.limitContent {
  max-width: 1141px;
  margin: 0 auto;
}

body {
  background-color: #dcdcdc;
}

.headerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 10px 28px;
  margin-bottom: 10px;
}

.logo svg {
  width: 100%;
  height: auto;
}

.headerRight {
  font-size: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerNav {
  font-size: 24px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #bcdffb;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
}

.headerNav > li {
  color: #000;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.catalogProducts {
  font-size: 24px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid #000;
  background-color: #bcdffb;
  border-radius: 10px;
}

.catalogProducts > li a {
  display: inline-block;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
}

.productList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: visibility 1s, opacity 0.5s linear, max-height 1s ease-out;
  transition: visibility 1s, opacity 0.5s linear, max-height 1s ease-out;
  flex-direction: column;
}

.productList li > a {
  padding: 5px;
}

.catalogProducts > li:hover > a {
  background-color: gray;
  color: white;
  -webkit-transition-delay: 0.2s, 0.2s, 0.2s;
          transition-delay: 0.2s, 0.2s, 0.2s;
}

.productList > li:hover > a {
  background-color: gray;
  color: white;
  -webkit-transition-delay: 0.1s, 0.1s, 0.1s;
          transition-delay: 0.1s, 0.1s, 0.1s;
}

.catalogProducts > li:hover > .productList {
  visibility: visible;
  opacity: 1;
  max-height: 500px;
  -webkit-transition-delay: 0.2s, 0.2s, 0.2s;
          transition-delay: 0.2s, 0.2s, 0.2s;
}

.catalogMontage {
  font-size: 24px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid #000;
  background-color: #bcdffb;
  border-radius: 10px;
}

.catalogMontage a {
  display: inline-block;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
}

.catalogMontage > li:hover > a {
  background-color: gray;
  color: white;
  -webkit-transition-delay: 0.2s, 0.2s, 0.2s;
          transition-delay: 0.2s, 0.2s, 0.2s;
}

.startMassage {
  margin-left: 30px;
}

.footer {
  background-color: #bcdffb;
  height: 100px;
  padding: 30px;
}
