.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.catalog {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}
.catalogProducts {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid #000;
  background-color: #bcdffb;
  border-radius: 10px;
}
.catalogProducts > li a {
  display: inline-block;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
}
.productList {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: visibility 1s, opacity 0.5s linear, max-height 1s ease-out;
  flex-direction: column;
  li > a {
    padding: 5px;
  }
}
.catalogProducts > li:hover > a {
  background-color: gray;
  color: white;
  transition-delay: 0.2s, 0.2s, 0.2s;
}
.productList > li:hover > a {
  background-color: gray;
  color: white;
  transition-delay: 0.1s, 0.1s, 0.1s;
}
.catalogProducts > li:hover > .productList {
  visibility: visible;
  opacity: 1;
  max-height: 500px;
  transition-delay: 0.2s, 0.2s, 0.2s;
}

.catalogMontage {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid #000;
  background-color: #bcdffb;
  border-radius: 10px;
}
.catalogMontage a {
  display: inline-block;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
}
.catalogMontage > li:hover > a {
  background-color: gray;
  color: white;
  transition-delay: 0.2s, 0.2s, 0.2s;
}
.startMassage {
  margin-left: 30px;
}
